
<div class="nested-fields">
  <div class="field form-row">
    <div class="form-group col-md-6">
      <%=f.label :name%>
      <%=f.select( :name, UsersCrud::SOCIAL_NETS.collect{|x| x[:name_net]},{},{class:'form-control', id:'input_social'})%>
    </div>

    <div class="col-md-6">
    <%=f.label :url%>
    <div class="input-group">
      <span class="input-group-addon" id="btnGroupAddon"></span>
      <%=f.text_field :url, class:'form-control', id:'input_url'%>
      <span style="display: none" class="input-group-addon" id="addonTumblr"></span>
    </div>
    </div>

    <div class="actions">

      <%=link_to_remove_association 'Borrar', f%>

    </div>
        </div>
        </div>

<script type="application/javascript">
  var hashmap={}
  var cont=0
<%UsersCrud::SOCIAL_NETS.each do |net|%>
  hashmap['<%=net[:name_net]%>']='<%=net[:url]%>'
  <%end%>
  console.log(hashmap)
console.log(hashmap['Youtube'])


  $('#input_social').change(function () {

      social=$('#input_social').val()
      url_net=hashmap[social]
      if(social.toLowerCase()==="tumblr"){
          $('#addonTumblr').text(url_net).attr('id', 'addonTumblr_'+cont).show()
          $('#btnGroupAddon').text('https://').attr('id', 'btnGroupAddon_'+cont)

      }else{

          $('#addonTumblr').hide().attr('id', 'addonTumblr_'+cont)
          $('#btnGroupAddon').text(url_net).attr('id', 'btnGroupAddo_'+cont)
      }
      $(this).attr('id', 'input_field_'+cont)
      cont++
  })

</script>